body {
  margin: 0em;
  padding: 0em;
}

.nav_web {
  display: none;
}

.nav_mobile {
  background-color: #333333;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: auto;
  width: auto;
}

.nav_mobile ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0em;
}

.nav_mobile ul img {
  height: 30px;
  width: auto;
}

.nav_mobile ul li {
  list-style-type: none;
}

.block1 {
  height: 100%;
  width: auto;
  background-image: url(../images/main_img.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main_text1 {
  height: auto;
  width: auto;
  align-self: center;
}

.main_text1 h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 2.5em;
  line-height: 1.5em;
  color: white;
  flex-shrink: 1;
  margin: auto;
  padding: .2em;
}

.main_text1 span {
  color: #444444;
}

.main_text1 :nth-child(2) {
  padding-top: 1em;
  padding-bottom: 1em;
}

.block2 {
  background-color: #444444;
  margin: 0em;
  padding: 0em;
  display: flex;
  flex-direction: column;
}

.block2 .title {
  display: flex;
  justify-content: center;
  height: auto;
  width: auto;
}

.block2 .title h3 {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  margin-left: .3em;
  flex-shrink: 1;
  text-align: center;
}

.block2 p {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.2em;
  line-height: 1.5em;
  margin: auto 1em;
  margin-bottom: 1.5em;
}

.block3 {
  background-image: url(../images/bg_service.jpg);
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 1em;
}

.block3 .title {
  display: flex;
  justify-content: center;
  height: auto;
  width: auto;
}

.block3 .title h3 {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  margin-left: .3em;
  flex-shrink: 1;
  text-align: center;
}

i {
  color: white;
  font-size: 35px;
  margin: .2em auto;
}

.service {
  display: flex;
  flex-direction: column;
  height: auto;
  width: auto;
  margin: auto;
  padding: .2em;
  justify-content: center;
  align-items: center;
}

.service h4 {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3em;
  font-weight: 500;
  margin: auto;
  flex-shrink: 1;
  text-align: center;
  padding: auto;
}

.service p {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.2em;
  line-height: 1.5em;
  margin: auto 1em;
}

legend {
  text-align: center;
}

fieldset {
  border: 1px solid white;
  padding: .7em;
  margin: .5em;
  flex-grow: 1;
  flex-shrink: 1;
}

@media screen and (min-width: 700px) {
  .service {
    display: flex;
    width: 70vw;
  }
}

.block4 {
  background-image: url(../images/bg_contact.jpg);
  background-position: center;
  background-size: cover;
  height: 50%;
  margin: 0px;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.block4 h3 {
  margin: 0em;
  color: #333333;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  margin-left: .3em;
  flex-shrink: 1;
  text-align: center;
}

.block4 a {
  text-decoration: none;
  margin: auto;
  padding: .5em;
}

.block4 a h3 {
  color: white;
  background-color: #333333;
  padding: .4em;
  margin: auto;
}

h3:hover {
  opacity: .8;
  transition: all 1s ease-out;
}

.footer {
  background-color: #444444;
  margin: 0em;
  padding: 0em;
}

.footer ul {
  display: flex;
  flex-direction: column;
  margin: 0em;
  padding: .5em;
}

.footer ul li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: .5em;
}

.footer i {
  font-size: 1.25em;
  margin: 0em;
}

.footer p {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1em;
  margin: auto 1em;
}

.footer :nth-child(4) {
  margin: auto;
  text-align: center;
  margin: .5em auto;
  font-size: .9em;
}
/*# sourceMappingURL=styles.css.map */