.main_text1 {
    .txt1 {
        animation: yourAnimation .75s 1 1s ease-in-out;
        opacity: 0;
        animation-fill-mode: forwards;
    }

    @keyframes yourAnimation {
        0%{
            transform: translateX(-20%);
            opacity: 0;
            }
        100%{
            transform: rotate(xx) translateX(0);
            opacity: 1;
            }
    }

    .txt2 {
        animation: yourAnimation2 .75s 1 1.75s ease-in-out;
        opacity: 0;
        animation-fill-mode: forwards;
    }

    @keyframes yourAnimation2 {
        0%{
            transform: translateX(-20%);
            opacity: 0;
            }
        100%{
            transform: rotate(xx) translateX(0);
            opacity: 1;
            }

    }

}