$color1: #444444; 
$color2: #333333; 
$color3: #66CCCC;



.block4 {
    background-image: url(../images/bg_contact.jpg);
    background-position: center;
    background-size: cover;
    height: 50vh;
    margin: 0px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    h3 {
        margin: 0em;
        color: $color2;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.5em;
        font-weight: 600;
        margin: 2em auto;
        flex-shrink: 1;
        text-align: center;
    }
    
    a {
        text-decoration: none;
        margin: auto;
        margin-top: 2em;
        padding: .5em;
        color: white;
        background-color: $color2;
        border-radius: 5px;
        width: 50vh;
        -webkit-tap-highlight-color: transparent;

        &:link {
            color: white;
            background-color: none;
        }
        &:active {
            color: white;
            background-color: none;
        }

        &:visited {
            color: white;
            background-color: none;
        }




    }
}

h3:hover {
    opacity: .8;
    transition: all 1s ease-out;
}