$color1: #444444; 
$color2: #333333; 
$color3: #66CCCC;

.block2 {
    background-color: $color1;
    margin: 0em;
    padding: 0em;
    display: flex;
    flex-direction: column;

    .title {
        display: flex;
        justify-content: center;
        height: auto;
        width: auto;

        h3 {
            color: white;
            font-family: 'Montserrat', sans-serif;
            font-size: 1.5em;
            font-weight: 600;
            margin-left: .3em;
            flex-shrink: 1;
            text-align: center;
        }
    }
    p {
        color: white;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 1em;
        line-height: 1.5em;
        margin: auto 1em;
        margin-bottom: 1.5em;
    }
}