$color1: #444444; 
$color2: #333333; 
$color3: #66CCCC;


.footer {
    background-color: $color1;
    margin: 0em;
    padding: 0em;

    ul {
        display: flex;
        flex-direction: column;
        margin: 0em;
        padding: .5em;

        li {
            display: flex;
            justify-content: flex-start;
            align-items: center;padding: .5em;
        }
    }

    i {
        font-size: 1.25em;
        margin: 0em;
    }


    p {
        color: white;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 1em;
        margin: auto 1em;
    }

    & :nth-child(5) {
        margin: .8em auto;
        text-align: justify;
        padding: 0px;
        font-size: 1em;

    }

    a {
        text-decoration: none;
        background-color: transparent;
        -webkit-tap-highlight-color: transparent;

        &:link {
            color: white;
            background-color: transparent;
        }
        &:active {
            color: white;
            background-color: transparent;
        }

        &:visited {
            color: white;
            background-color: transparent;
        }

    }

}