$color1: #444444; 
$color2: #333333; 
$color3: #66CCCC;


.footer {
    background-color: $color1;
    margin: 0em;
    padding: 0em;

    ul {
        display: flex;
        flex-direction: column;
        margin: 0em;
        padding: .5em;

        li {
            display: flex;
            justify-content: flex-start;
            align-items: center;padding: .5em;
        }
    }

    i {
        font-size: 1.25em;
        margin: 0em;
    }
    p {
        color: white;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 1em;
        margin: auto 1em;
    }
}